html,
html > * {
	background-color: black;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 1080px;
    max-height: 1920px;
    overflow: hidden;
}

/* Custom font size */
h1 {
    font-size: 6em;
}
h2 {
    font-size: 4.5em;
}
h3 {
    font-size: 2.5em;
}
h4 {
    font-size: 1em;
    margin: 0;
    padding-top: 1em;
}
/*********************/

.container {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
	width: 100%;
	min-height: 1920px;
}

.container > * {
    flex-basis: 700;
}

.row-top {
    margin-bottom: 1050px;
}

/* Rows */
.row-top,
.row-middle,
.row-bottom {
    display: flex;
    width: 78%;
    justify-content: space-between;
}

/* Row Columns */
.row-top > * ,
.row-middle > * ,
.row-bottom > * {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*flex-direction: column;*/
}

.date,
.time {
    padding: 0;
    margin: 0;
    text-align: right;
}

.temp-container > * {
    display: inline;
    vertical-align: top;
}

#temp-icon {
    font-size: 90px;
}

#weather-icon {
    font-size: 50px;
}

.middle-middle {
    align-items: flex-end;
}

.welcome-message {
    text-align: bottom;
}

.bottom-right {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

p {
    padding: 0;
    margin: 0;
}